---
import Examples from "~/layouts/examples.astro";
import { Debug } from "astro/components";
import Toc from "../../../../components/toc.astro";

import { getCollection, getEntry } from "astro:content";
// const sectionsCollection = await getCollection("examples");
// const page = await getEntry(
//   "examples",
//   Astro.params.version.replace(/\./g, "") +
//     "/" +
//     Astro.params.lang +
//     "/" +
//     Astro.params.slug,
// );
//
// const { headings, Content } = await page.render();
//
// console.log(headings);
---

<Examples>
  <div class="content">
    333
  </div>
</Examples>

<style lang="scss">
  .title {
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: rgba(125, 133, 144, 1);
  }

  .toc {
    grid-area: toc;

    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;

    align-self: start;
  }

  .content {
    grid-area: content;
    min-width: 1px;
  }
</style>
