---
import {getCollection,getEntry} from "astro:content";
import Examples from "~/layouts/examples.astro";

export async function getStaticPaths() {
    const docsCollection = await getCollection('examples');
    return docsCollection.map((doc) => {
    const [version, lang, ...slug] = doc.slug.split('/');
    console.log(version, lang, slug.join('/'));
    return {
        params: {
            version: '1.0',
            lang: 'en',
            slug: slug.join('/'),
            },
        props: doc
        }
    })
    }

const {slug} = Astro?.props;

if (slug === undefined) {
    throw new Error('Slug is required');
    }

// 2. Query for the entry directly using the request slug
const page = await getEntry('examples', slug);

// 3. Redirect if the entry does not exist
if (page === undefined) {
    // return Astro.redirect("/404");
}

const {headings, Content} = await page.render();

---

<Examples>
  <div class="content">
    <Content />
  </div>
</Examples>

<style lang="scss">
  .title {
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: rgba(125, 133, 144, 1);
  }

  .toc {
    grid-area: toc;

    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;

    align-self: start;
  }

  .content {
    grid-area: content;
    min-width: 1px;
  }
</style>
