---
const {headings, github_page} = Astro.props
import Link from '~/components/link.astro'
---
<nav class="toc">
    <ul class="nav vertical">
        {headings.map((heading) => {
            return (
                    <li class="item">
                        <a href='#' class="link" onClick={(e) => {
                            e.preventDefault()
                        }}>{heading.text}</a>
                    </li>
            )
        })}
    </ul>

    <hr/>
    <ul class="nav vertical">
        <li class="item">
            <Link href={github_page} target="_blank" rel="noopener noreferrer" class="link">
                View on Github
            </Link>
        </li>
    </ul>
</nav>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;

  $toc: (
    --nav-item : var(--color),
    _colors: (
      light : (
        color: red,
      ),
      dark : (
        color:red
      )
    )
  );

  @include app.generate-component(
      $toc,
      'toc',
      app.$config,
      app.$theme,
      ( variable: (exclude : ('nav')) )
  );
</style>