---
const {headings, github_page} = Astro.props
---
<nav>
  <ul>
      {headings.map((heading) => {
          return (
              <li>
                <a href='#' onClick={(e) => {
                    e.preventDefault()
                }}>{heading.text}</a>
              </li>
          )
      })}
  </ul>

  <hr />
  <ul>
    <li>
      <a href={github_page} target="_blank" rel="noopener noreferrer">
        View on Github
      </a>
    </li>
  </ul>
</nav>