---
const {headings, github_page} = Astro.props
---
<nav>
  <ul class="nav vertical">
      {headings.map((heading) => {
          return (
                  <li class="item">
                <a href='#' class="link" onClick={(e) => {
                    e.preventDefault()
                }}>{heading.text}</a>
              </li>
          )
      })}
  </ul>

  <hr />
  <ul class="nav vertical">
    <li class="item">
      <a href={github_page} target="_blank" rel="noopener noreferrer" class="link">
        View on Github
      </a>
    </li>
  </ul>
</nav>