@use 'sass:map';
@use "sass:string";

@use "./scss/config.scss" as config with (
  $config: (
    prefix: "xii",
    enable: (
      wrapper: false,
    ),
  )
);

@use "./scss/themes/default.scss" as theme with (
  $theme: (
    html : (
      body : (
        colors: (
          light : (
            background : rgba(255,255,255, 1),
            color: '#ccc'
          ),
          dark : (
            background : rgba(5, 17, 4, 1),
            color: '#ccc'
          )
        )
      )
    )
  )
);

$config: config.$config;
$theme: theme.$theme;