@use "sass:list";

$config: (
  prefix: "xii",
  enable: (
    wrapper: false,
  ),
) !default;

$theme: () !default;

@use "./scss/_config.scss" as config with (
  $config: $config
);

@use "./scss/themes/_default.scss" as theme with (
  $theme: $theme
);

$config: config.$config;
$theme: theme.$theme;

@function add_components($components) {
  $components_updated: ();
  @each $component in $components {
    $components_updated : list.append($components_updated, "components/" + $component);
  }
  @return $components_updated;
}