---
const {footer} = Astro.props

const width = !footer ? '35px' : '25px';
const height = !footer ? '35px' : '25px';

---

<span class="logo">

<svg width={width} height={height} xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1200 1200">
<path fill="#ffffff" d="M881.84,755.43H558.81l0.2,114.46c84.15,0.03,293.64,0.41,374.77,0.2l25.96-0.05
	c-11.43,16.82-23.32,33.29-37.34,47.64c-121.01,123.9-270.42,123.61-269.47,123.07c-131.44-5.93-176.68-53.6-185.78-154.86V561.36
	h14.98c21.25,5.32,71.25,27.4,77.48,117.77h96.64V560.19c1.36,0.23,3.04,0.56,4.98,1.03c0.18,0.05,0.36,0.08,0.55,0.13
	c19.89,4.99,79.51,19.78,77.48,117.77h94.48V561.36H1160c-15.96-232.46-173.63-425.98-387.28-494.8c-0.07-0.02-0.15-0.05-0.23-0.07
	c-25.55-7.61-52.35-14.07-80.45-19.41c-12.87-2.12-25.91-3.8-39.08-5.01l2.79,175.35L467.35,55.61c-1.08,0.27-2.16,0.53-3.23,0.81
	C247.78,110.55,81.24,290.38,46.64,513.8C42.27,542.01,40,570.91,40,600.34c0,29.43,2.27,58.32,6.64,86.54
	c0.23,1.46,0.46,2.94,0.7,4.4c5.47,33.56,13.93,66.12,25.08,97.39c18,50.49,43.05,97.67,73.95,140.3c1.63,2.25,3.27,4.48,4.93,6.7
	c90.84,121.54,228.91,198.52,379.58,216.4c9.28,1.1,24.11,2.2,40.34,3.17c244.47,14.67,471.17-131.38,555.78-361.22
	c4.87-13.23,9.26-26.7,13.14-40.37c-33.72,0.07-143.09,0.25-258.29,0.41V755.43z M905.06,314.2c39.4,0,71.33,31.93,71.33,71.33
	s-31.93,71.33-71.33,71.33c-39.4,0-71.33-31.93-71.33-71.33S865.66,314.2,905.06,314.2z"/>
</svg>
</span>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;
  @use "../../styles/scssleon/scss/mixins.scss" as mixins;
  @use "../../styles/scssleon/scss/functions.scss" as functions;

  $logo-section: (
      padding: 0 5px,
      height: 18px,
      display: inline-flex,
      align-items: center,
      gap: 10px,
      colors : (
          dark : (
              background : rgba(45, 56, 66, 1),
          )
      ),
      responsive : (
          md : (
              padding: 0
          )
      ),
  );

  @include mixins.generate-component(
          $logo-section,
          "logo",
          app.$config,
          app.$theme
  );
</style>