---
import {getCollection, getEntry} from "astro:content";
import Examples from "~/layouts/sections.astro";

export async function getStaticPaths() {
    const sectionsCollection = await getCollection('sections');
    return sectionsCollection.map((section) => {
        const [version, lang, ...slug] = section.slug.split('/');

        return {
            params: {
                version: '1.0',
                lang: 'en',
                slug: slug.join('/'),
            },
            props: section
        }
    })
}

const {slug} = Astro?.props;

if (slug === undefined) {
    throw new Error('Slug is required');
}

// 2. Query for the entry directly using the request slug
const page = await getEntry('sections', slug);

// 3. Redirect if the entry does not exist
if (page === undefined) {
    // return Astro.redirect("/404");
}

const {headings, Content} = await page.render();
---

<Examples>
    <div class="content">
        <Content/>
    </div>
</Examples>

<style lang="scss">
  .title {
    margin-bottom: 0.5rem;
  }

  .subtitle {
    font-size: 1.35rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: rgba(125, 133, 144, 1);
  }

  .toc {
    grid-area: toc;

    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;

    align-self: start;
  }

  .content {
    grid-area: content;
    min-width: 1px;
  }
</style>