---
import {getCollection, getEntry} from "astro:content";
import Sections from "~/layouts/sections.astro";

export async function getStaticPaths() {
    const sectionsCollection = await getCollection('sections');
    return sectionsCollection.map((section) => {
        const [version, lang, ...slug] = section.slug.split('/');

        return {
            params: {
                version: '1.0',
                lang: 'en',
                slug: slug.join('/'),
            },
            props: section
        }
    })
}

const {slug} = Astro?.props;

if (slug === undefined) {
    throw new Error('Slug is required');
}

// 2. Query for the entry directly using the request slug
const page = await getEntry('sections', slug);

// 3. Redirect if the entry does not exist
if (page === undefined) {
    // return Astro.redirect("/404");
}

const {headings, Content} = await page.render();
---

<Sections>
    <div class="content">
        <Content/>
    </div>
</Sections>

<style lang="scss" is:global>
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  // ↓ Amazing content
  @use "~/styles/scss/content" with (
    $config: app.$config,
    $theme: app.$theme
  );

</style>