---
import Docs from '../layouts/docs.astro';
---

<Docs>
  <main>
    <div class="welcome">
      <div class="container">
        <div class="row">
          <div class="col-12">
            1
          </div>
          <div class="col-12">
            2
          </div>
        </div>
      </div>
    </div>
    <div class="github">
      <div class="container">
        <div class="col-md-24">
          <p>Latest Commit on GitHub:</p>
        </div>
      </div>
    </div>
  </main>
</Docs>
