---
import Layout from '../layouts/Layout.astro';
import '../styles/xiigrid.scss';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="github">
			<div class="container">
				<div class="col-md-24">
					<p>Latest Commit on GitHub:</p>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style lang="scss">
	.main {
		margin: 1.5rem 0;
	}

	.github {

	}
</style>