---
import Logo from '../logo/index.astro'
---

<div class="header">
  <div class="container xxl">
    <header class="navbar">
      <div class="left">
        <ul class="nav">
          <li class="item">
            <a href="/" class="link">
              <Logo />
            </a>
          </li>
          <li class="item">
            <a href="/docs/1.0/en/" class="link" target="_self">
              Components
            </a>
          </li>
          <li class="item">
            <a href="/examples" class="link" target="_self">
              Pre-built Sections
            </a>
          </li>
        </ul>
      </div>
      <div class="right">
        <ul class="nav">
          <li class="item">
            <a
                href="https://github.com/nulllogic/xiigrid"
                class="link"
                target="_blank"
            >
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  class="github-icon"
                  role="img"
                  viewBox="0 0 16 16"
              >
                <title>GitHub</title>
                <path
                    fill="#000"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                ></path>
              </svg>
            </a>
          </li>
          <li class="item">
            <a
                href="https://github.com/nulllogic/xiigrid"
                class="link"
                target="_blank"
            >
              <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  class="theme-switch"
                  role="img"
                  viewBox="0 0 24 24"
              >
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17.715 15.15A6.5 6.5 0 0 1 9 6.035C6.106 6.922 4 9.645 4 12.867c0 3.94 3.153 7.136 7.042 7.136 3.101 0 5.734-2.032 6.673-4.853Z"
                    class="fill-transparent"></path>
                <path
                    d="m17.715 15.15.95.316a1 1 0 0 0-1.445-1.185l.495.869ZM9 6.035l.846.534a1 1 0 0 0-1.14-1.49L9 6.035Zm8.221 8.246a5.47 5.47 0 0 1-2.72.718v2a7.47 7.47 0 0 0 3.71-.98l-.99-1.738Zm-2.72.718A5.5 5.5 0 0 1 9 9.5H7a7.5 7.5 0 0 0 7.5 7.5v-2ZM9 9.5c0-1.079.31-2.082.845-2.93L8.153 5.5A7.47 7.47 0 0 0 7 9.5h2Zm-4 3.368C5 10.089 6.815 7.75 9.292 6.99L8.706 5.08C5.397 6.094 3 9.201 3 12.867h2Zm6.042 6.136C7.718 19.003 5 16.268 5 12.867H3c0 4.48 3.588 8.136 8.042 8.136v-2Zm5.725-4.17c-.81 2.433-3.074 4.17-5.725 4.17v2c3.552 0 6.553-2.327 7.622-5.537l-1.897-.632Z"
                    class="fill-slate-400 dark:fill-slate-500"></path>
                <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M17 3a1 1 0 0 1 1 1 2 2 0 0 0 2 2 1 1 0 1 1 0 2 2 2 0 0 0-2 2 1 1 0 1 1-2 0 2 2 0 0 0-2-2 1 1 0 1 1 0-2 2 2 0 0 0 2-2 1 1 0 0 1 1-1Z"
                    class="fill-slate-400 dark:fill-slate-500"></path>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </header>
  </div>
</div>

<script type="text/javascript">
    const nav = document.querySelector('.header');
    const navTop = nav.offsetTop;

    function stickyNavigation() {
        if (window.scrollY > navTop) {
            // nav offsetHeight = height of nav
            nav.classList.add('sticky');
        } else {
            nav.classList.remove('sticky');
        }
    }

    window.addEventListener('scroll', stickyNavigation);
</script>

<style lang="scss">
  @use "sass:list";
  @use "sass:string";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;
  @use "../../styles/scssleon/scss/mixins.scss" as mixins;
  @use "../../styles/scssleon/scss/functions.scss" as functions;

  $navbar: functions.get-theme(app.$theme, 'components.navbar');

  $navbar: map.deep-merge($navbar, (
    --grid-template-columns: auto auto,
      subclasses : (
        ".item" : (
          subclasses: (
            ".link" : (
              text-decoration: none
            )
          )
        )
      )
  ));

  $header-section: (
    padding: 5px 5px,
    background: var(--background),
    border-bottom: var(--border),
    box-shadow: string.unquote("rgba(13, 13, 17, 0.4) 0px 5px 25px"),
    top: 0,
    position: relative,
    colors : (
      dark : (
        background : string.unquote("linear-gradient(rgba(0, 95, 94, 0.85) 0%, rgba(23, 59, 86, 0.55) 100%)"),
        border : 1px solid #173b56,
      )
    ),
    subclasses : (
      ".navbar" : $navbar,
      "&.sticky" : (
        position: sticky,
        -webkit-backdrop-filter: blur(10px),
        backdrop-filter: blur(10px),
      )
    ),
    responsive : (
      md : (
        padding: 5px 5px,
      )
    )
  );

  @include mixins.generate-component(
      $header-section,
      "header",
      app.$config,
      app.$theme
  );
</style>