<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="d-inline-flex align-items-center">
                    
                </div>
                <p>
                    Designed and built with all the love in the world by the NullLogic team with the help of our
                    contributors.
                </p>
                <p>
                    Currently v
                </p>
            </div>
            <div class="col-md-2">
                <h5>Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/">Home</a></li>
                    <li><a href="/docs/1.0/en/">Docs</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <h5>Community</h5>
                <ul class="list-unstyled">
                    <li><a href="/xiigrid/issues">Issues</a></li>
                    <li><a href="/xiigrid/discussions">Discussions</a></li>
                    <li><a href="https://stackoverflow.com/questions/tagged/xiigrid">Stack Overflow</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>