---
import { Debug } from 'astro/components';
import Docs from '~/layouts/docs.astro';

import { getCollection } from 'astro:content';
const englishDocsEntries = await getCollection('docs', ({ id }) => {
    return id;
});

// const {version, lang, slug} = Astro.params;
//
// const content = await Astro.glob('../../../../../content/docs/1.0/en/**/*.md');
//
// const post = content.find(({file}) => file === '/app/content/docs/' + version + '/' + lang + '/' + slug + '.md');
// const {title, layout} = post.frontmatter;
//
// // const { Content } = pages.find((p) => p.url.endsWith(Astro.params.slug));
---
<Docs>
    <div class="container">
        <div class="col-md-12">
            123
        </div>
    </div>
</Docs>
