---
import {getCollection} from "astro:content";
const docsCollection = await getCollection("docs");

const gettingStartedCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("getting-started");
    })
    .sort((a, b) => {
        return b.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(a.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const componentsCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("components");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const formsCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("forms");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const aboutCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("about");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });
---

<aside class="sidebar">
  <nav>
    <ul class="nav vertical">
      <li class="item">
        <h5 class="title">Getting started</h5>
        <ul class="nav vertical">
            {
                gettingStartedCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li class="item">
        <h5 class="title">Components</h5>
        <ul class="nav vertical">
            {
                componentsCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li class="item">
        <h5 class="title">Forms</h5>
        <ul class="nav vertical">
            {
                formsCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li class="item">
        <h5 class="title">About</h5>
        <ul class="nav vertical">
            {
                aboutCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<style lang="scss" is:global>
  @use "sass:list";
  @use "sass:meta";
  @use "sass:map";

  @use "../../styles/app.scss" as app;
  @use "../../styles/scss/mixins.scss" as mixins;
  @use "../../styles/scss/functions.scss" as functions;

  $nav: functions.get-theme(app.$theme, 'components.nav');

  $nav: map.deep-merge($nav, (
    --grid-template-columns: auto auto,
    subclasses : (
      ".item" : (
        subclasses: (
          "&:first-child .title" : (
            margin: 0 0 10px 0
          ),
          ".title" : (
            font-size: 1.25rem,
            font-weight: 500,
            margin: 10px 0,
          )
        )
      )
    )
  ));

  $sidebar-section: (
    grid-area: sidebar,
    display: block,
    align-self: start,
    colors : (
      dark : (
      )
    ),
    subclasses : (
      ".nav" : $nav
    )
  );

  @include mixins.generate-component(
      $sidebar-section,
      "sidebar",
      app.$config,
      app.$theme
  );
</style>
