---
import {getCollection} from "astro:content";
const docsCollection = await getCollection("docs");

const gettingStartedCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("getting-started");
    })
    .sort((a, b) => {
        return b.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(a.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const componentsCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("components");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const formsCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("forms");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });

const aboutCollection = docsCollection
    .filter((doc) => {
        if (doc?.data?.category) return doc?.data?.category.includes("about");
    })
    .sort((a, b) => {
        return a.slug
            .replace(/.*\/(\w+)\/?$/, "$1")
            .localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, "$1"));
    });
---

<aside class="sidebar">
  <nav>
    <ul class="nav">
      <li class="item">
        <h5>Getting started</h5>
        <ul class="nav">
            {
                gettingStartedCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li>
        <strong>Components</strong>
        <ul class="nav">
            {
                componentsCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li>
        <strong>Forms</strong>
        <ul class="nav">
            {
                formsCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
      <li>
        <strong>About</strong>
        <ul class="nav">
            {
                aboutCollection.map((doc, index) => {
                    return (
                        <li class="item">
                          <a
                              class="link"
                              href={
                                  "/docs/" +
                                  Astro.params.version +
                                  "/" +
                                  Astro.params.lang +
                                  doc.slug.replace(
                                      Astro.params.version.replace(/\./g, "") +
                                      "/" +
                                      Astro.params.lang,
                                      "",
                                  )
                              }
                          >
                              {doc.slug.replace(/.*\/(\w+)\/?$/, "$1")}
                          </a>
                        </li>
                    );
                })
            }
        </ul>
      </li>
    </ul>
  </nav>
</aside>
<style lang="scss">
  @use "sass:list";
  @use "sass:meta";

  @use "../../styles/app.scss" as app;
  @use "../../styles/scss/mixins.scss" as mixins;

  $sidebar-section: (
    grid-area: sidebar,
    display: block,
    align-self: start,
    colors : (
      dark : (
      )
    ),
    subclasses : (
      ".nav" : (
        --flex-direction : column,
        flex-direction: var(--flex-direction),
        width: 100%,
      )
    )
  );

  @include mixins.generate-component(
      $sidebar-section,
      "sidebar",
      app.$config,
      app.$theme
  );
</style>
