---

---

<footer class="footer">
  <div class="container xxl">
    <div class="grid">
      <div class="column">
        <h5>SCSSleon</h5>
        <p>
          Designed and built with all the love in the world by the NullLogic
          team with the help of our contributors.
        </p>
        <p>Currently v</p>
      </div>

      <div class="column">
        <h5>Links</h5>
        <ul class="list-unstyled">
          <li><a href="/">Home</a></li>
          <li><a href="/docs/1.0/en/">Docs</a></li>
        </ul>
      </div>

      <div class="column">
        <h5>Community</h5>
        <ul class="list-unstyled">
          <li><a href="/xiigrid/issues">Issues</a></li>
          <li><a href="/xiigrid/discussions">Discussions</a></li>
          <li>
            <a href="https://stackoverflow.com/questions/tagged/xiigrid">
              Stack Overflow
              <span class="inline-block">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M1.5 3.5V14.5H12.5V10H14V15C14 15.5523 13.5523 16 13 16H1C0.447716 16 0 15.5523 0 15V3C0 2.44772 0.447715 2 1 2H6V3.5H1.5Z"
                    fill="#FBFBFE"></path>
                  <path
                    d="M15.9217 1.17828L7.01473 10.0853L5.95407 9.02462L14.8611 0.117624L15.9217 1.17828Z"
                    fill="#FBFBFE"></path>
                  <path d="M7.5 0H16V1.5H7.5V0Z" fill="#FBFBFE"></path>
                  <path
                    d="M16 0L16 8.5L14.5 8.5L14.5 -6.55671e-08L16 0Z"
                    fill="#FBFBFE"></path>
                </svg>
                <svg
                  width="16"
                  height="16"
                  viewBox="-4 -4 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                  class="inline-block"
                >
                  <path
                    d="M10.232 5.65c.357 0 .647.29.647.648v3.95c0 .966-.787 1.752-1.754 1.752H1.753A1.755 1.755 0 0 1 0 10.247V2.874c0-.967.786-1.753 1.753-1.753h3.95a.647.647 0 1 1 0 1.294h-3.95a.46.46 0 0 0-.46.46v7.372a.46.46 0 0 0 .46.459h7.372a.46.46 0 0 0 .46-.459v-3.95c0-.356.289-.646.647-.646zm1.72-5.27A.61.61 0 0 1 12 .615v3.693a.615.615 0 1 1-1.23 0V2.1L5.05 7.82a.614.614 0 0 1-.87 0 .615.615 0 0 1 0-.87L9.9 1.23H7.691a.615.615 0 1 1 0-1.23h3.693a.617.617 0 0 1 .568.38z"
                    fill="#fff"
                    fill-rule="evenodd"></path>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "../../styles/app.scss" as app;
  @use "../../styles/scss/mixins.scss" as mixins;

  $footer-component: (
    --padding: 35px 15px,
    background: var(--background),
    padding: var(--padding),
    responsive: (
      md: (
        --padding: 35px 5px,
      ),
      lg: (
        --padding: 35px 5px,
      ),
    ),
    colors: (
      dark: (
        background : rgba(45, 56, 66, 1),
      )
    ),
    subclasses: (
      ".grid": (
        --columns: "",
        display: grid,
        grid-template-columns: var(--columns),
        gap: 15px,
        responsive: (
          md: (
            --columns: auto 200px 200px,
          ),
          lg: (
            --columns: auto 200px 200px,
          ),
        ),
      ),
    ),
  );

  @include mixins.generate-component(
    $footer-component,
    "footer",
    app.$config,
    app.$theme
  );
</style>