---
import Logo from '~/components/logo/index.astro'
import Link from '~/components/link.astro'
---

<footer class="footer">
    <div class="container xxl">
        <div class="grid">
            <div class="column">
                <div class="logo">
                    <Logo footer/>
                </div>
                <p>
                    Designed and built with all the love in the world by the
                    <Link href="https://nulllogic.net" aria-label="Home"
                          title="Home">NullLogic
                    </Link>
                    team with the help of our contributors.
                </p>
                <p>Currently
                    <Link class="link"
                          href="https://www.npmjs.com/package/@nulllogic/scssleon"
                          aria-label="SCSSLeon repository"
                          title="SCSSLeon repository">v1.0.6
                    </Link>
                </p>
            </div>

            <div class="column">
                <h5 class="title">Links</h5>
                <ul class="nav vertical">
                    <li class="item">
                        <Link href="/" aria-label="Home" title="Home">Home
                        </Link>
                    </li>
                    <li class="item">
                        <Link href="/docs/1.0/en/" aria-label="Components"
                              title="Components">Components
                        </Link>
                    </li>
                    <li class="item">
                        <Link href="/sections/1.0/en/welcome"
                              aria-label="Sections" title="Sections">Sections
                        </Link>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h5 class="title">Community</h5>
                <ul class="nav vertical">
                    <li class="item">
                        <Link href="https://github.com/nulllogic/scssleon/issues"
                              aria-label="Issues" title="Issues">
                            Issues
                        </Link>
                    </li>
                    <li class="item">
                        <Link href="https://github.com/nulllogic/scssleon/discussions"
                              aria-label="Discussions"
                              title="Discussions">Discussions
                        </Link>
                    </li>
                    <li class="item">
                        <Link href="https://stackoverflow.com/questions/tagged/scssleon"
                              aria-label="Stack Overflow"
                              title="Stack Overflow">Stack Overflow
                        </Link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "../../styles/app.scss" as app;

  $footer_grid: (
    --columns: 1fr,
    display: grid,
    grid-template-columns: var(--columns),
    gap: 15px,
    /***/
    _responsive: (
      md: (
        --columns: auto 200px 200px,
      ),
      lg: (
        --columns: auto 200px 200px,
      ),
    ),
    /***/
    _subclasses: (
      /***/
      '.column' : (
        /***/
        _subclasses : (
          '.title' : (
            font-size: 1.25rem,
            margin: 0 0 0.5rem 0
          ),
          '.logo' : (
            margin: 0 0 15px 0,
          ),
          'p' : (
            line-height: clamp(1.5rem, calc(1rem * pow(1.618, 1)), 1.618rem),
          )
        )
      )
    )
  );

  $footer-component: (
    padding-inline: var(global(--padding-inline)),
    padding-block: 35px,
    background: var(--background),
    border-top: var(--border),
    box-shadow: var(--box-shadow),
    /***/
    _colors: (
      light : (
        background: rgb(241, 241, 249) string.unquote('linear-gradient(rgba(8, 9, 10, 0.03), rgba(8, 9, 10, 0.03)), linear-gradient(rgb(241, 241, 249), rgb(255, 255, 255))'),
        border : 1px solid rgb(255, 255, 255),
        box-shadow: string.unquote('rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset'),
      ),
      dark: (
        background : rgba(4, 21, 4, 1),
        border : 1px solid rgb(7, 39, 7),
        box-shadow:none,
      )
    ),
    /***/
    _subclasses: (
      '.grid' : $footer_grid
    ),
  );

  @include app.generate-component(
      $footer-component,
      'footer',
      app.$config,
      app.$theme
  );
</style>

<script>
    customElements.define('svg-circle', class extends HTMLElement {
        connectedCallback() {
            this.innerHTML = `<svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
             fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                  clip-rule="evenodd"/>
        </svg>`
        }
    })
</script>

<style>
    .spinner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .spinner-circle {
        transform-origin: center;
        animation: spinner-circle-animate 1s step-start infinite
    }

    //rect {
    //    fill: rgb(161, 161, 161);
    //}

    @keyframes spinner-circle-animate {
        0% {
            transform: rotate(0)
        }

        10% {
            transform: rotate(36deg)
        }

        20% {
            transform: rotate(72deg)
        }

        30% {
            transform: rotate(108deg)
        }

        40% {
            transform: rotate(144deg)
        }

        50% {
            transform: rotate(180deg)
        }

        60% {
            transform: rotate(216deg)
        }

        70% {
            transform: rotate(252deg)
        }

        80% {
            transform: rotate(288deg)
        }

        90% {
            transform: rotate(324deg)
        }

        to {
            transform: rotate(360deg)
        }
    }
</style>

<style lang="scss" is:global>
  @use 'sass:list';
  @use 'sass:meta';

  // ↓ Config
  @use '~/styles/app.scss' as app;

  // ↓ Tooltip
  @include app.generate-component(
      app.get-theme(app.$theme, 'components.tooltip'),
      'has-tooltip',
      app.$config,
      app.$theme,
      (variable: (name : 'tooltip'))
  );
</style>

<style is:global>
    .preload * {
        transition: none !important;
    }
</style>