---
import Logo from '../logo/index.astro'
---

<footer class="footer">
    <div class="container xxl">
        <div class="grid">
            <div class="column">
                <div class="logo">
                    <Logo footer/>
                </div>
                <p>
                    Designed and built with all the love in the world by the
                    NullLogic
                    team with the help of our contributors.
                </p>
                <p>Currently v</p>
            </div>

            <div class="column">
                <h5 class="title">Links</h5>
                <ul class="nav vertical">
                    <li class="item">
                        <a href="/" aria-label="Home" class="link">Home</a>
                    </li>
                    <li class="item">
                        <a href="/docs/1.0/en/" target="_blank"
                           aria-label="Docs" class="link">Docs</a>
                    </li>
                </ul>
            </div>

            <div class="column">
                <h5 class="title">Community</h5>
                <ul class="nav vertical">
                    <li class="item">
                        <a href="https://github.com/nulllogic/scssleon/issues"
                           target="_blank" aria-label="Issues"
                           class="link">Issues</a>
                    </li>
                    <li class="item">
                        <a href="https://github.com/nulllogic/scssleon/discussions"
                           target="_blank"
                           aria-label="Discussions" class="link">Discussions</a>
                    </li>
                    <li class="item">
                        <a href="https://stackoverflow.com/questions/tagged/scssleon"
                           target="_blank"
                           aria-label="Stack Overflow" class="link">Stack
                            Overflow</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="inline-block">
    <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="none"
            width="16"
    >
      <path
              d="M1.5 3.5V14.5H12.5V10H14V15C14 15.5523 13.5523 16 13 16H1C0.447716 16 0 15.5523 0 15V3C0 2.44772 0.447715 2 1 2H6V3.5H1.5Z"
              fill="#FBFBFE"></path>
      <path
              d="M15.9217 1.17828L7.01473 10.0853L5.95407 9.02462L14.8611 0.117624L15.9217 1.17828Z"
              fill="#FBFBFE"></path>
      <path d="M7.5 0H16V1.5H7.5V0Z" fill="#FBFBFE"></path>
      <path
              d="M16 0L16 8.5L14.5 8.5L14.5 -6.55671e-08L16 0Z"
              fill="#FBFBFE"></path>
    </svg>
    <svg
            width="16"
            height="16"
            viewBox="-4 -4 20 20"
            xmlns="http://www.w3.org/2000/svg"
            class="inline-block"
    >
      <path
              d="M10.232 5.65c.357 0 .647.29.647.648v3.95c0 .966-.787 1.752-1.754 1.752H1.753A1.755 1.755 0 0 1 0 10.247V2.874c0-.967.786-1.753 1.753-1.753h3.95a.647.647 0 1 1 0 1.294h-3.95a.46.46 0 0 0-.46.46v7.372a.46.46 0 0 0 .46.459h7.372a.46.46 0 0 0 .46-.459v-3.95c0-.356.289-.646.647-.646zm1.72-5.27A.61.61 0 0 1 12 .615v3.693a.615.615 0 1 1-1.23 0V2.1L5.05 7.82a.614.614 0 0 1-.87 0 .615.615 0 0 1 0-.87L9.9 1.23H7.691a.615.615 0 1 1 0-1.23h3.693a.617.617 0 0 1 .568.38z"
              fill="#fff"
              fill-rule="evenodd"></path>
    </svg>

        <svg width="16" viewBox="0 0 24 24" fill="currentColor"
             role="presentation"
             class="inline-block h-[1.2em] align-[-0.25em]"
             data-toolkit-component="Icon"><path
                d="M16.25 10.311l-4.793 4.793a1 1 0 01-1.414 0L7.75 12.811a.75.75 0 111.06-1.06l1.233 1.232a1 1 0 001.414 0L15.19 9.25a.749.749 0 111.06 1.061zM21 12a9 9 0 11-18 0 9 9 0 0118 0zm-1.5 0a7.5 7.5 0 10-15 0 7.5 7.5 0 0015 0z"></path></svg>

        <svg width="16" viewBox="0 0 24 24" fill="currentColor"
             role="presentation"
             class="inline-block h-[1.2em] align-[-0.25em]"
             data-toolkit-component="Icon"><path
                d="M10.233 12.707a1 1 0 000-1.414L8.465 9.525a.75.75 0 011.06-1.06l1.768 1.767a1 1 0 001.414 0l1.768-1.768a.75.75 0 011.06 1.06l-1.767 1.769a1 1 0 000 1.414l1.768 1.768a.75.75 0 01-1.06 1.06l-1.769-1.768a1 1 0 00-1.414 0l-1.768 1.768a.749.749 0 11-1.06-1.06l1.768-1.768zM12 21a9 9 0 110-18 9 9 0 010 18zm0-1.5a7.5 7.5 0 100-15 7.5 7.5 0 000 15z"></path></svg>

        <svg width="16" viewBox="0 0 24 24" fill="currentColor"
             role="presentation" class="inline-block h-[1.2em] align-[-0.25em]"
             data-testid="security-lock" data-toolkit-component="Icon"><path
                d="M12 2.75A4.25 4.25 0 0116.25 7v.75a1 1 0 001 1H18A1.25 1.25 0 0119.25 10v10A1.25 1.25 0 0118 21.25H6A1.25 1.25 0 014.75 20V10A1.25 1.25 0 016 8.75h.75a1 1 0 001-1V7A4.25 4.25 0 0112 2.75zm1.75 6a1 1 0 001-1V7a2.75 2.75 0 10-5.5 0v.75a1 1 0 001 1h3.5zm-6.5 1.5a1 1 0 00-1 1v7.5a1 1 0 001 1h9.5a1 1 0 001-1v-7.5a1 1 0 00-1-1h-9.5z"></path></svg>
        <svg class="size-4 check-icon" height="18" width="18"
             viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path
                d="M0 0h24v24H0z" stroke="none" fill="none"></path><path
                d="M5 12l5 5l10 -10"></path></svg>
        <svg width="16" id="check2" viewBox="0 0 16 16"> <path
                d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path> </svg>
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
             viewBox="0 0 24 24" fill="none" stroke="currentColor"
             stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
             class="lucide lucide-moon"><path
                d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path></svg>
        <svg aria-label="This component is Ready" class="AiB gUZ U9O kVc" height="16" role="img" viewBox="0 0 16 16" width="16"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0M4.24 7.74a.83.83 0 0 1 1.18 0L7 9.31l3.58-3.57a.83.83 0 0 1 1.18 1.18L7 11.67 4.24 8.92a.83.83 0 0 1 0-1.18"></path></svg>
        <svg width="16" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
  </span>
</footer>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "../../styles/app.scss" as app;

  $footer-component: (
    --padding: 35px 15px,
    background: var(--background),
    border-top: var(--border),
    padding: var(--padding),
    box-shadow: var(--box-shadow),
    /***/
    _responsive: (
      md: (
        --padding: 35px 5px,
      ),
      lg: (
        --padding: 35px 5px,
      ),
    ),
    /***/
    _colors: (
      light : (
        background: rgb(241, 241, 249) string.unquote('linear-gradient(rgba(8, 9, 10, 0.03), rgba(8, 9, 10, 0.03)), linear-gradient(rgb(241, 241, 249), rgb(255, 255, 255))'),
        border : 1px solid rgb(255, 255, 255),
        box-shadow: string.unquote('rgba(34, 42, 53, 0.06) 0px 0px 24px, rgba(0, 0, 0, 0.05) 0px 1px 1px, rgba(34, 42, 53, 0.04) 0px 0px 0px 1px, rgba(34, 42, 53, 0.08) 0px 0px 4px, rgba(47, 48, 55, 0.05) 0px 16px 68px, rgba(255, 255, 255, 0.1) 0px 1px 0px inset'),
      ),
      dark: (
        background : rgba(4, 21, 4, 1),
        border : 1px solid rgb(7, 39, 7),
        box-shadow:none,
      )
    ),
    /***/
    _subclasses: (
      '.grid' : (
        --columns: "",
        display: grid,
        grid-template-columns: var(--columns),
        gap: 15px,
        /***/
        _responsive: (
          md: (
            --columns: auto 200px 200px,
          ),
          lg: (
            --columns: auto 200px 200px,
          ),
        ),
        /***/
        _subclasses: (
          /***/
          '.column' : (
            /***/
            _subclasses : (
              '.title' : (
                font-size: 1.25rem,
                margin: 0 0 0.5rem 0
              ),
              '.logo' : (
                margin: 0 0 15px 0,
              )
            )
          )
        )
      )
    ),
  );

  @include app.generate-component(
      $footer-component,
      'footer',
      app.$config,
      app.$theme
  );
</style>

<style is:global>
    html[data-theme='dark'] pre:has(code),
    html[data-theme='dark'] pre:has(code) span {
        color: var(--shiki-dark) !important;
        background-color: var(--shiki-dark-bg) !important;
        font-style: var(--shiki-dark-font-style) !important;
        font-weight: var(--shiki-dark-font-weight) !important;
        text-decoration: var(--shiki-dark-text-decoration) !important;
    }
</style>