@use '~/styles/app.scss' as app;

$snippet-top: (
  background: #0d1117,
  border-radius: 0 .425rem .425rem 0,
  _subclasses : (
    '.nav' : (
      justify-content : space-between,
      _subclasses : (
        '.title' : (
        )
      )
    ),
  )
);

$snippet-middle: (
  background: #0d1117,
  border-radius: .425rem 0 0 .425rem,
);


$snippet-bottom: (
  background: #0d1117,
  border-radius: .425rem 0 0 .425rem,
);

$snippet: (
  position: relative,
  z-index: 1,
  text-align: left,
  padding: 0,
  display: block,
  margin: 0,
  border: 1px solid #3d444d,
  border-radius: .425rem,
  _subclasses : (
    '.top' : $snippet-top,
    '.middle' : $snippet-middle,
    '.bottom' : $snippet-bottom,
  )
);

@include app.generate-component(
  $snippet,
  '.snippet',
  app.$config,
  app.$theme
);