---
import Head from '../components/head/index.astro';
import Header from '../components/header/index.astro';
import Sidebar from '../components/sidebar/index.astro';
import Main from '../components/main.astro';
import Modal from '../components/modal/index.astro';
import Footer from '../components/footer/index.astro';

const {title, description, category} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <Head title={title} description={description}/>
</head>
<body>
<Header title={title} category={category}/>
<div class="docs">
    <div class="container xxl">
        <div class="layout">
            <Sidebar class="left"/>
            <Main class="right">
                <slot/>
            </Main>
        </div>
    </div>
</div>
<Modal/>
<Footer/>
</body>
</html>

<script is:global>
    window.document.addEventListener('myEvent', handleEvent, false)

    function handleEvent(e) {
        const iframes = document.querySelectorAll('iframe');
        iframes.forEach(iframe => {
            iframe.style.height = iframe.style.height + Math.random(5) + 'px';
        })
    }
</script>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "../styles/app.scss" as app;

  $docs: (
    padding-inline: var(global(--padding-inline)),
    background: var(--background),
    /***/
    _colors: (
      light: (
        background: string.unquote('linear-gradient(rgba(55, 241, 14, 0.09), rgba(0, 0, 0, 0) 32.77%), linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)'),
      ),
      dark : (
        background: string.unquote('linear-gradient(rgba(38, 194, 44, 0.085), rgba(0, 0, 0, 0) 32.77%)'),
      )
    ),
    _subclasses : (
      '.left' : (
        display: none,
        _responsive : (
          lg :(
            display: block,
          )
        )
      )
    ),
  );

  @include app.generate-component(
      $docs,
      'docs',
      app.$config,
      app.$theme
  );
</style>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";

  @use '~/styles/app.scss' as app;

  $layout: (
    --padding: 2.5rem 0,
    display: grid,
    grid-template-columns: 1fr,
    gap: 0,
    padding: var(--padding),
    /*_colors: (*/
    /*    light: (*/
    /*        background: linear-gradient(rgba(249, 102, 83, 0.1), rgba(0, 0, 0, 0) 144px),*/
    /*    ),*/
    /*    dark : (*/
    /*        background: linear-gradient(71.93deg, #001b33 26.34%, #004887 56.72%, #273b49 94.79%)*/
    /*    )*/
    /*),*/
    _subclasses : (
      '.title' : (
        display: inline-block,
      )
    ),
    _responsive : (
      lg :(
        grid-template-columns: minmax(0, 14.5rem) 5fr,
        gap: 1.5rem,
      )
    )
  );

  @include app.generate-component(
      $layout,
      'layout',
      app.$config,
      app.$theme
  );
</style>