---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import Head from "../components/head.astro";
import Header from "../components/header.astro";
import Sidebar from "../components/sidebar.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer/index.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title="XII/Grid docs" description="Desciption" />
  </head>
  <body>
    <Header />
    <div class="docs">
      <div class="container xxl">
        <div class="layout">
          <Sidebar />
          <Main>
            <slot />
          </Main>
        </div>
      </div>
    </div>
    <Footer />
    <style lang="scss">
      .layout {
        padding: 25px 0;
      }

      @media (min-width: 992px) {
        .layout {
          display: grid;
          grid-template-areas: "sidebar main";
          grid-template-columns: 1fr 5fr;
          gap: 1rem;
        }
      }
    </style>
  </body>
</html>
