---
const {title} = Astro.props;

import Head from "../components/head/index.astro";
import Header from "../components/header/index.astro";
import Sidebar from "../components/sidebar/index.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer/index.astro";
---

<!doctype html>
<html lang="en">
<head>
  <Head title="SCSSLeon documentation" description="Desciption"/>
</head>
<body>
<Header/>
<div class="docs">
  <div class="container xxl">
    <div class="layout">
      <Sidebar/>
      <Main>
        <slot/>
      </Main>
    </div>
  </div>
</div>
<Footer/>
</body>
</html>

<script is:global>
  window.document.addEventListener('myEvent', handleEvent, false)
  function handleEvent(e) {
    const iframes = document.querySelectorAll('iframe');
    iframes.forEach(iframe => {
      // iframe.contentWindow.location.reload();
    })
  }
</script>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";

  @use "../styles/app.scss" as app;
  @use "@nulllogic/scssleon/scss/mixins.scss" as mixins;

  $layout-section: (
    --padding: 2.5rem 0,
    display: grid,
    grid-template-areas: "sidebar main",
    grid-template-columns: 1fr 5fr,
    gap: 1rem,
    padding: var(--padding),
    colors : (
      dark : (
        background: linear-gradient(71.93deg, #001b33 26.34%, #004887 56.72%, #273b49 94.79%)
      )
    ),
    subclasses : (
      ".title" : (
        display: inline-block,
      )
    )
  );

  @include mixins.generate-component(
      $layout-section,
      "layout",
      app.$config,
      app.$theme
  );
</style>

<style lang="scss" is:global>
  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
</style>

<style lang="scss" is:global>
  html {
    &.dragging {
      iframe {
        pointer-events: none;
      }
    }
  }
</style>