---
export interface Props {
    title: string;
}

const {title} = Astro.props;

import Head from '../components/head/index.astro';
import Header from '../components/header/index.astro';
import Sidebar from "../components/sidebar/index.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer/index.astro";

import {getCollection} from 'astro:content';
const sectionsCollection = await getCollection('examples');

const sectionsCollectionModified = sectionsCollection.filter((doc) => {
//   if (doc?.data?.group) return doc?.data?.group.includes('components')
}).sort((a, b) => {
//    return a.slug.replace(/.*\/(\w+)\/?$/, '$1').localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, '$1'))
})

// console.log(sectionsCollection)
---

<!doctype html>
<html lang="en">
<head>
  <Head title="SCSSLeon docs" description="Desciption"/>
</head>
<body>
<Header/>
<slot/>
<Footer/>
</body>
</html>

<style lang="scss">

</style>
