---
import Head from '../components/head/index.astro'
import Header from '../components/header/index.astro'
import Modal from '../components/modal/index.astro';
import Footer from '../components/footer/index.astro'
---

<!doctype html>
<html lang="en">
<head>
    <Head
            title="SCSSLeon 🦎 – modern SCSS framework for the website development"
            description="SCSSLeon is SCSS framework for rapidly building modern websites"
    />
</head>
<body>
<Header/>
<slot/>
<Modal/>
<Footer/>
</body>
</html>