---
export interface Props {
    title: string;
}

const {title} = Astro.props;

import Head from '../components/head/index.astro';
import Header from '../components/header/index.astro';
import Sidebar from "../components/sidebar/index.astro";
import Main from "../components/main.astro";
import Footer from "../components/footer/index.astro";

import {getCollection} from 'astro:content';
const sectionsCollection = await getCollection('sections');

const sectionsCollectionModified = sectionsCollection.filter((doc) => {
//   if (doc?.data?.group) return doc?.data?.group.includes('components')
}).sort((a, b) => {
//    return a.slug.replace(/.*\/(\w+)\/?$/, '$1').localeCompare(b.slug.replace(/.*\/(\w+)\/?$/, '$1'))
})

// console.log(sectionsCollection)
---

<!doctype html>
<html lang="en">
<head>
    <Head title="SCSSLeon docs" description="Desciption"/>
</head>
<body>
<Header/>
<div class="sections">
    <div class="container xxl">
        <div class="layout">
            <slot/>
        </div>
    </div>
</div>
<Footer/>
</body>
</html>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:string";

  @use "~/styles/app.scss" as app;

  $sections: (
    background: var(--background),
    padding-inline: var(global(--padding-inline)),

    _colors: (
      light: (
        background: string.unquote('linear-gradient(rgba(55, 241, 14, 0.09), rgba(0, 0, 0, 0) 32.77%), linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%)'),
      ),
      dark : (
        background: string.unquote('linear-gradient(rgba(38, 194, 44, 0.085), rgba(0, 0, 0, 0) 32.77%)'),
      )
    )
  );

  @include app.generate-component(
      $sections,
      'sections',
      app.$config,
      app.$theme
  );
</style>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";

  @use "../styles/app.scss" as app;

  $layout-section: (
    --padding: 2.5rem 0,
    /*display: grid,*/
    /*grid-template-areas: "sidebar main",*/
    /*grid-template-columns: 1fr 5fr,*/
    /*gap: 1.5rem,*/
    padding: var(--padding),
    /*_colors: (*/
    /*    light: (*/
    /*        background: linear-gradient(rgba(249, 102, 83, 0.1), rgba(0, 0, 0, 0) 144px),*/
    /*    ),*/
    /*    dark : (*/
    /*        background: linear-gradient(71.93deg, #001b33 26.34%, #004887 56.72%, #273b49 94.79%)*/
    /*    )*/
    /*),*/
    _subclasses : (
      '.title' : (
        display: inline-block,
      )
    )
  );

  @include app.generate-component(
      $layout-section,
      'layout',
      app.$config,
      app.$theme
  );
</style>